.text__primary {
  @include themed() {
    color: t($text-primary);
  }
}
.text__secondary {
  @include themed() {
    color: t($text-secondary);
  }
}

.body__secondary {
  @include themed() {
    color: t($text-secondary);
  }
  font-size: 1rem;
}

.body {
  font-size: 1rem;
}

.small {
  font-size: 0.9rem;
}

.small__secondary {
  font-size: 0.9rem;
  @include themed() {
    color: t($text-secondary);
  }
}

.bullet {
  font-size: 1rem;
  font-weight: 500;
  @include themed() {
    color: t($text-primary);
  }
}
