.dashboard-home {
  min-height: 100vh;
  display: flex;

  .dashboard__body {
    min-height: 100vh;
    width: 100%;
    overflow: auto;
  }
  .dashboard__body-content {
    padding: 1rem;
    width: 100%;
    overflow: auto;
  }
}
