.user__compact__card {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  padding: 1rem;
  width: 100%;

  @include radius($normal);
  @include themed() {
    background-color: t($bg-secondary);
  }

  .user__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 90%;
    word-break: break-all;

    .el-avatar img {
      width: 100% !important;
    }
  }
}
