@import "../abstracts/variables";

$themes: (
  light: (
    brand-color: $brand-color--light,
    bg-primary: $bg-primary--light,
    bg-secondary: $bg-secondary--light,
    bg-tertiary: $bg-tertiary--light,
    text-primary: $text-primary--light,
    text-secondary: $text-secondary--light,
    text-tertiary: $text-tertiary--light,
    link-primary: $link-primary--light,
    link-primary-hover: $link-primary-hover--light,
    bg-icon-button: $bg-icon-button--light,
    bg-icon-button-hover: $bg-icon-button-hover--light,
  ),
  dark: (
    brand-color: $brand-color--dark,
    bg-primary: $bg-primary--dark,
    bg-secondary: $bg-secondary--dark,
    bg-tertiary: $bg-tertiary--dark,
    text-primary: $text-primary--dark,
    text-secondary: $text-secondary--dark,
    text-tertiary: $text-tertiary--dark,
    link-primary: $link-primary--dark,
    link-primary-hover: $link-primary-hover--dark,
    bg-icon-button: $bg-icon-button--dark,
    bg-icon-button-hover: $bg-icon-button-hover--dark,
  ),
);

// box shadows
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);

// border radii
$small: 3px;
$normal: 5px;
$large: 8px;
