@import "../abstracts/variables";

$themes: (
  light: (
    brand-color: $brand-color--light,
    bg-primary: $bg-primary--light,
    bg-secondary: $bg-secondary--light,
    bg-tertiary: $bg-tertiary--light,
    bg-primary-card: $bg-primary-card--light,
    bg-secondary-card: $bg-secondary-card--light,
    text-primary: $text-primary--light,
    text-secondary: $text-secondary--light,
    text-tertiary: $text-tertiary--light,
    link-primary: $link-primary--light,
    link-primary-hover: $link-primary-hover--light,
    skeleton-1: $skeleton-1--light,
    skeleton-2: $skeleton-2--light,
    skeleton-3: $skeleton-3--light,
    bg-icon-button: $bg-icon-button--light,
    bg-icon-button-hover: $bg-icon-button-hover--light,
    scrollbar-track: $scrollbar-track--light,
    scrollbar-thumb: $scrollbar-thumb--light,
    scrollbar-thumb-hover: $scrollbar-thumb-hover--light,
    sidebar-link-hover: $sidebar-link-hover--light,
  ),
  dark: (
    brand-color: $brand-color--dark,
    bg-primary: $bg-primary--dark,
    bg-secondary: $bg-secondary--dark,
    bg-tertiary: $bg-tertiary--dark,
    bg-primary-card: $bg-primary-card--dark,
    bg-secondary-card: $bg-secondary-card--dark,
    text-primary: $text-primary--dark,
    text-secondary: $text-secondary--dark,
    text-tertiary: $text-tertiary--dark,
    skeleton-1: $skeleton-1--dark,
    skeleton-2: $skeleton-2--dark,
    skeleton-3: $skeleton-3--dark,
    link-primary: $link-primary--dark,
    link-primary-hover: $link-primary-hover--dark,
    bg-icon-button: $bg-icon-button--dark,
    bg-icon-button-hover: $bg-icon-button-hover--dark,
    scrollbar-track: $scrollbar-track--dark,
    scrollbar-thumb: $scrollbar-thumb--dark,
    scrollbar-thumb-hover: $scrollbar-thumb-hover--dark,
    sidebar-link-hover: $sidebar-link-hover--dark,
  ),
);

$palettes: (
  brandColor: (
    darkest: #081a33,
    //80%
    darker: #103566,
    //60%
    dark: #103566,
    //40%
    base: #2884ff,
    light: #539dff,
    //20% light
    lighter: #7eb5ff,
    //40% light
    lightest: #bfdaff,
    //70% light
  ),
  blackColor: (
    darkest: #0a0a0a,
    //80%
    darker: #141414,
    //60%
    dark: #1f1f1f,
    //40%
    base: #333333,
    light: #5c5c5c,
    //20% light
    lighter: #858585,
    //40% light
    lightest: #c2c2c2,
    //70% light
  ),
);

// box shadows
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);

// border radii
$small: 3px;
$normal: 5px;
$large: 8px;

// spacing
$spacing-1px: 1px;
$spacing-2px: 2px;
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-1: 1rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;
$spacing-6: 6rem;
$spacing-7: 7rem;
