@import "../abstracts/variables";

$themes: (
  light: (
    bg-primary: $bg-primary--light,
    bg-secondary: $bg-secondary--light,
    bg-tertiary: $bg-tertiary--light,
    text-primary: $text-primary--light,
    text-secondary: $text-secondary--light,
    text-tertiary: $text-tertiary--light,
    link-primary: $link-primary--light,
    link-primary-hover: $link-primary-hover--light,
  ),
  dark: (
    bg-primary: $bg-primary--dark,
    bg-secondary: $bg-secondary--dark,
    bg-tertiary: $bg-tertiary--dark,
    text-primary: $text-primary--dark,
    text-secondary: $text-secondary--dark,
    text-tertiary: $text-tertiary--dark,
    link-primary: $link-primary--dark,
    link-primary-hover: $link-primary-hover--dark,
  ),
);
