$bg-primary: "bg-primary";
$bg-secondary: "bg-secondary";
$bg-tertiary: "bg-tertiary";
$text-primary: "text-primary";
$text-secondary: "text-secondary";
$text-tertiary: "text-tertiary";
$link-primary: "link-primary";
$link-primary-hover: "link-primary-hover";
