$brand-color: "brand-color";
$bg-primary: "bg-primary";
$bg-secondary: "bg-secondary";
$bg-tertiary: "bg-tertiary";
$text-primary: "text-primary";
$text-secondary: "text-secondary";
$text-tertiary: "text-tertiary";
$link-primary: "link-primary";
$link-primary-hover: "link-primary-hover";
$bg-icon-button: "bg-icon-button";
$bg-icon-button-hover: "bg-icon-button-hover";
$scrollbar-track: "scrollbar-track";
$scrollbar-thumb: "scrollbar-thumb";
$scrollbar-thumb-hover: "scrollbar-thumb-hover";
$sidebar-link-hover: "sidebar-link-hover";
