.cursor_pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.horizontal__center {
  display: flex;
  align-items: center;
}

.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
