$brand-color: #005eff;
$danger-color: #f56c6c;
$blue-color: #2884ff;
$blue-color-hover: #1b7cfa;
$green-color: #06cd72;
$green-color-hover: #06c26d;
$red-color: #f56c6c;
$red-color-hover: #f85858;

// light
$text-primary--light: #0a0a57;
$text-secondary--light: #4e6296;
$text-tertiary--light: #485a88;

$link-primary--light: #2884ff;
$link-primary-hover--light: #1778f7;
$brand-color--light: #2884ff;

$bg-primary--light: #f0f1f3;
$bg-secondary--light: #fff;
$bg-tertiary--light: #ebe7e7;
$bg-primary-card--light: #fff;
$bg-secondary-card--light: #fff;

$skeleton-1--light: rgba(253, 245, 245, 0.829);
$skeleton-2--light: rgba(228, 228, 228, 0.703);
$skeleton-3--light: rgba(255, 255, 255, 0.9);

$bg-icon-button--light: #e0e0e0;
$bg-icon-button-hover--light: #dddada;

$scrollbar-track--light: rgb(211, 211, 211);
$scrollbar-thumb--light: rgb(180, 178, 178);
$scrollbar-thumb-hover--light: rgb(148, 148, 148);

$sidebar-link-hover--light: #dddbdb;

// dark
$text-primary--dark: #fff;
$text-secondary--dark: rgb(219, 215, 215);
$text-tertiary--dark: rgb(192, 187, 187);

$bg-primary--dark: #1f1f22;
$bg-secondary--dark: #161719;
$bg-tertiary--dark: #242527;
$bg-primary-card--dark: #1b2025;
$bg-secondary-card--dark: #1b2025;

$skeleton-1--dark: rgba(255, 255, 255, 0.9);
$skeleton-2--dark: rgba(228, 228, 228, 0.703);
$skeleton-3--dark: rgba(255, 255, 255, 0.9);

$link-primary--dark: #2884ff;
$link-primary-hover--dark: #1778f7;
$brand-color--dark: #2884ff;

$bg-icon-button--dark: #252628;
$bg-icon-button-hover--dark: #202122;

$scrollbar-track--dark: rgb(68, 67, 67);
$scrollbar-thumb--dark: rgb(46, 45, 45);
$scrollbar-thumb-hover--dark: rgb(32, 32, 32);

$sidebar-link-hover--dark: #2b303c;

// responsive breakpoints
$xxs: 360px;
$xs: 480px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
