// common theme
$link: #2884ff;
$link-hover: #1778f7;
$brand-color: #2884ff;

// light
$text-primary--light: #0a0a57;
$text-secondary--light: #4e6296;
$text-tertiary--light: #485a88;

$bg-primary--light: #fff;
$bg-secondary--light: #fafafa;
$bg-tertiary--light: #ebe7e7;

// dark
$text-primary--dark: #fff;
$text-secondary--dark: rgb(219, 215, 215);
$text-tertiary--dark: rgb(192, 187, 187);

$bg-primary--dark: #161719;
$bg-secondary--dark: #252628;
$bg-tertiary--dark: #242527;
