// light
$text-primary--light: #0a0a57;
$text-secondary--light: #4e6296;
$text-tertiary--light: #485a88;

$link-primary--light: #2884ff;
$link-primary-hover--light: #1778f7;
$brand-color--light: #2884ff;

$bg-primary--light: #e0e0e0;
$bg-secondary--light: #fff;
$bg-tertiary--light: #ebe7e7;

// dark
$text-primary--dark: #fff;
$text-secondary--dark: rgb(219, 215, 215);
$text-tertiary--dark: rgb(192, 187, 187);

$bg-primary--dark: #252628;
$bg-secondary--dark: #161719;
$bg-tertiary--dark: #242527;

$link-primary--dark: #2884ff;
$link-primary-hover--dark: #1778f7;
$brand-color--dark: #2884ff;
